@charset "UTF-8";


.wrap{
  width:100%;
}

body{
  margin:0px;
  padding:0px;
  width:100%;
  height:100%;
}
.head{
    padding: 10px 10px 10px 0;
    margin:0 auto;
    height:50px;
    width:100%;
    background-color:black; 
}
#head-left{
    float: left;
    margin-left:10px;
}

h1{
    font-size: 120%;
    color: white;
}
#head-right{
    float:right;
    margin-right: 20px;
}

#head-right ul{
  margin: 0 auto;
  height:100%;
  padding-top:6px;
}

#head-right ul li{
    display:inline;
    margin-right:3px;
    font-size:15px;
    color:white;
    padding:5px 0 0 0;
}

.header_link{
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: skyblue;/*ボタン色*/
  color:white;
  border-bottom: solid 4px #627295;
  border-radius: 10px;
}

.paging li{
    display: inline;
    margin-right:3px;
    font-size:15px;
    color:black;
}
li{
    list-style: none;
}

.footer{
    padding: 10px 10px 10px 0;
    margin:0 auto;
    height:30px;
    width:100%;
    background-color:black; 
}
.footer p{
    font-size: 10px;
    text-align: center;
    color: white;
    vertical-align: middle;
}

#top_content{
  clear:both;
    width:100%;
    height:635px;
    padding:30px  5px 5px 5px;
    background:#EEFFFF;
    text-align: center;
}
#content{
    clear:both;
    width:100%;
    padding:30px  5px 5px 5px;
    background:#EEFFFF;
    text-align: center;
    min-height:635px; 
    height:auto !important; 
    height:635px;
}

/*css radio02*/
.radio02-input{
    display: none;
  }
  .radio02-input + label{
    padding-left: 20px;
    position:relative;
    margin-right: 20px;
  }
  .radio02-input + label::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    border: 1px solid #999;
    border-radius: 50%;
  }
  .radio02-input:checked + label{
    color: #009a9a;
  }
  .radio02-input:checked + label::after{
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    left: 3px;
    width: 11px;
    height: 11px;
    background: #009a9a;
    border-radius: 50%;
  }

  /* css checkbox01 */
.checkbox01-input{
    display: none;
  }
  .checkbox01-parts{
    padding-left: 20px;
    position:relative;
    margin-right: 20px;
  }
  .checkbox01-parts::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    border: 1px solid #999;
    border-radius: 4px;
  }
  .checkbox01-input:checked + .checkbox01-parts{
    color: #009a9a;
  }
  .checkbox01-input:checked + .checkbox01-parts::after{
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    left: 5px;
    width: 7px;
    height: 14px;
    transform: rotate(40deg);
    border-bottom: 3px solid #009a9a;
    border-right: 3px solid #009a9a;
  }

  .error{
      color:red;
  }
  
  .list{
    float: left;
  }

  .top{
    clear: left;
    margin: 0 auto;
    width:95%;
  }
  
  .top_inline_block{
    display: inline-block;
    height:190px;
    width:300px;
    padding:10px;
    overflow: hidden;
  }

  .top_inline_block img{
    transition-duration: 0.3s;	/*変化に掛かる時間*/
  }
  .top_inline_block img:hover {
    transform: scale(1.1);	/*画像の拡大率*/
    transition-duration: 0.3s;	/*変化に掛かる時間*/
    opacity: 0.8;
  }

a{
  text-decoration: none;
  padding:7px 0 0 0;
}

#a{
  text-align: left;
}
#b{
  text-align: left;
}
#c{
  text-align: left;
}

.balloon5 {
  width: 100%;
  margin: 1.5em 0;
  overflow: hidden;
}

.balloon5 .faceicon {
  float: left;
  margin-right: -490px;
  width: 80px;
  margin-left: 375px;
}

/*トップページのセリフ*/
.balloon5 .faceicon img{
  width: 100%;
  height: auto;
  border: solid 3px #FFC7AF;
  border-radius: 50%;
}

.balloon5 .chatting {
  width: 100%;
}

.says {
  display: inline-block;
  position: relative; 
  margin: 5px 0 0 105px;
  padding: 17px 13px;
  border-radius: 12px;
  background: #FFC7AF;
}

.says:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 18px; 
  left: -24px;
  border: 12px solid transparent;
  border-right: 12px solid #FFC7AF;
}

.says p {
  margin: 0;
  padding: 0;
}

.header_title{
  height: 35px; 
  width: 200px;
  color: white;
}

.question tr{
  text-align: left;
}

.thread_content tr{
  text-align: left;
}

table.question{
  margin:0 auto;
}

.thread_content{
  text-align: left;
}

.button_link{
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}

.btn-square:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

td{
  height:40px;
}

.table_center{
  margin: 0 auto;
  text-align: left;
  width: 800px;

}

.word_break{
  word-break: break-all;
}
  

.button_link2{
  padding: 0.5em 1em;
  text-decoration: none;
  background: navy;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;

}

#button-center{
  margin:0 auto;
  display:inline;
}

#button-center ul{
margin: 0 auto;
height:100%;
padding-top:6px;
}

#button-center ul li{
  display:inline;
  margin-right:3px;
  font-size:15px;
  color:white;
  padding:5px 0 0 0;
}

.thread_content p{
  word-break : break-all;
  color: #2562cc
}

.thread_content h4{
  color: #566b8f
}

.thread_content h3{
  color: #00348f
}

.reply{
  text-align: center;
}

#login_guest ul li{
  display: inline;
}

.check_form{
  margin: 0 auto;
}

.button_center ul li{
  display: inline;
}